*{
  box-sizing:border-box;
}

body{
  background-color: beige;
}

h1{
color: blue;
}

#main{
  border: black 2px solid;
  height: 500px;
  width: 500px;
  /* background-color:# */
  text-align: center;
}

.box{
  max-width: 100%;
  object-fit: cover; 
}
td{
  font-size: 10px;
  border: 1px solid black;
}

.tableContainer{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
